XMLXSDValidationServiceService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://service/" xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="validate" type="tns:validate"/>

  <xs:element name="validateResponse" type="tns:validateResponse"/>

  <xs:complexType name="validate">
    <xs:sequence>
      <xs:element name="xmlinput" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validateResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

