schemas/waterml_2/waterProcedure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wml2="http://www.wron.net.au/waterml2" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:om="http://www.opengis.net/om/2.0" targetNamespace="http://www.wron.net.au/waterml2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>SPecialized observation procedures for water</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.opengis.net/om/2.0" schemaLocation="file:///C:/OGC/SCHEMAS_OPENGIS_NET/om/2.0/observation.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
    <include schemaLocation="waterml2.xsd"/>
    <element name="ManualMethod" substitutionGroup="gml:AbstractFeature" type="wml2:ManualMethodType"/>
    <complexType name="ManualMethodType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="operatorComments" type="string">
                        <annotation>
                            <documentation>Comments form the method operator relating to the process used.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ManualMethodPropertyType">
        <sequence minOccurs="0">
            <element ref="wml2:ManualMethod"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Simulation" substitutionGroup="gml:AbstractFeature" type="wml2:SimulationType">
        <annotation>
            <documentation>A simulation of a real world phenomenon, resulting in an estimate of the observed property. 
</documentation>
        </annotation>
    </element>
    <complexType name="SimulationType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="input" type="gml:ReferenceType">
                        <annotation>
                            <documentation>References to the inputs that were used to generate this observation.
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="modelType" type="gml:ReferenceType">
                        <annotation>
                            <documentation>References an identifier for the type of model being used. Utlimately, this should be defined within the context of an organisation, examples include "conceptual, lumped model", "Australian Water Balance Model - 2 tap" etc.
</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SimulationPropertyType">
        <sequence minOccurs="0">
            <element ref="wml2:Simulation"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Sensor" substitutionGroup="gml:AbstractFeature" type="wml2:SensorType"/>
    <complexType name="SensorType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="isTelemetered" type="boolean">
                        <annotation>
                            <documentation>Describes if the instrument measurements are retrieved remotely. </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SensorPropertyType">
        <sequence minOccurs="0">
            <element ref="wml2:Sensor"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="WaterObservationProcess" substitutionGroup="gml:AbstractFeature" type="wml2:WaterObservationProcessType">
        <annotation>
            <documentation>An Observation process suitable for making an estimate of the value of a water property. 

Water observation process descriptions will typically be implemented as instances in a specialized catalogue, rather than as a specialized class (as might be inferred from the model). 

1. While there is a tight dependency between the observation procedure and the observed property, the O&amp;amp;M model separates these concepts, recognizing that it is common for the same nominal property to be estimated through more than one procedure or instrument. This supports broader compilations or comparison between observation results. 

2. A model for describing an observation procedure is available in OGC SensorML (http://www.opengeospatial.org/standards/sensorml). 

3. However, this level of formality is unlikely to be available in the short-term for water observation procedures. Hence, it is proposed to use a well-governed set of identifiers for observation procedures, as a proxy for complete descriptions of them. The GML-pattern XML-encoding supports the use of this approach, using the "by-reference" pattern, with the value of the xlink:href attribute on the procedure element being constrained to from a catalogue of water observation procedures. Note that the type of the xlink:href attribute is anyURI. 

Thus, a requirement for WOML to be used consistently is a catalogue of water observation procedures, with members of the catalogue identified by URIs. 

4. Note that the ODM Analysis Procedure appears to be closest to this concept. However, it is not directly exposed in CUAHSI WaterML. Information related to it is distributed between several CUAHSI WaterML elements, including Value Type CV, Variable Name CV. 

</documentation>
        </annotation>
    </element>
    <complexType name="WaterObservationProcessType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="processType" type="gml:ReferenceType">
                        <annotation>
                            <documentation>A defintion of the type of process used in the observation. This may be a Sensor, ManualMethod, Algorithm or Simulation (including models). 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="originatingProcess" type="gml:ReferenceType">
                        <annotation>
                            <documentation>A reference to the original source of the data. For example, if this is a post-processed time series (and processType is algorithm), this link would specify the original process that generated the data, e.g. the sensor. This allows the origin of the data to be maintained regardless of the processing that has occured to it. 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="gaugeDatum" type="gml:ReferenceType">
                        <annotation>
                            <documentation>Specifies the datum that is used as the zero point for level measurements. This can be process-specific as opposed the gauge at the actual monitoring point. 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="operatorComments" type="string">
                        <annotation>
                            <documentation>Comments specific to the process from the operator. 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="processReference" type="gml:ReferenceType">
                        <annotation>
                            <documentation>Reference to an external process definition. 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="operator" type="gmd:CI_ResponsibleParty_PropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="input" type="gml:ReferenceType">
                        <annotation>
                            <documentation>A list of the inputs used in the process. This may be a list of references to the data sets used (e.g. model input series) or a input array to an algorithm. 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="parameter" type="om:NamedValuePropertyType">
                        <annotation>
                            <documentation>A defintion of the type of process used in the observation. This may be a Sensor, ManualMethod, Algorithm or Simulation (including models). 
</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WaterObservationProcessPropertyType">
        <sequence minOccurs="0">
            <element ref="wml2:WaterObservationProcess"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Algorithm" substitutionGroup="gml:AbstractFeature" type="wml2:AlgorithmType">
        <annotation>
            <documentation>A generic algorithm that has been applied in the creation of the observation. This could be an aggregation, interpolation (spatial or temporal), synthetic result generator etc. </documentation>
        </annotation>
    </element>
    <complexType name="AlgorithmType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="sourceData" type="gml:ReferenceType">
                        <annotation>
                            <documentation>A reference to the data set(s) that were used to create this aggregate. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="executionSystem" type="gml:ReferenceType">
                        <annotation>
                            <documentation>The system/program that ran the algorithm.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AlgorithmPropertyType">
        <sequence minOccurs="0">
            <element ref="wml2:Algorithm"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>