schemas/waterml_2/waterSampling.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wml2="http://www.wron.net.au/waterml2" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:sa="http://www.opengis.net/sampling/1.0/gml32" xmlns:sam="http://www.opengis.net/sampling/2.0" xmlns:sams="http://www.opengis.net/samplingSpatial/2.0" targetNamespace="http://www.wron.net.au/waterml2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>Specialized sampling features for water</documentation>
        <appinfo>
            <sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                <sch:title>Schematron constraints for "Sampling Features"</sch:title>
                <sch:ns prefix="sch" uri="http://purl.oclc.org/dsdl/schematron"/>
                <sch:ns prefix="xlink" uri="http://www.w3.org/1999/xlink"/>
                <sch:ns prefix="wml2" uri="http://www.wron.net.au/waterml2"/>
                <sch:pattern name="Properties for WaterObservationPoint">
                    <sch:rule context="//wml2:WaterObservationPoint">
                        <sch:assert test="wml2:relatedObservation/wml2:WaterMonitoringObservation or (empty(wml2:relatedObservation/*) and wml2:relatedObservation/@xlink:href)">relatedObservation must contain either WaterMonitoringObservation or nothing (and carry an xlink:href instead)</sch:assert>
                    </sch:rule>
                    <sch:rule context="//wml2:WaterObservationSection">
                        <sch:assert test="wml2:relatedObservation/wml2:WaterMonitoringObservation or (empty(wml2:relatedObservation/*) and wml2:relatedObservation/@xlink:href)">relatedObservation must contain either WaterMonitoringObservation or nothing (and carry an xlink:href instead)</sch:assert>
                    </sch:rule>
                    <sch:rule context="//wml2:WaterObservationTransect">
                        <sch:assert test="wml2:relatedObservation/wml2:WaterMonitoringObservation or (empty(wml2:relatedObservation/*) and wml2:relatedObservation/@xlink:href)">relatedObservation must contain either WaterMonitoringObservation or nothing (and carry an xlink:href instead)</sch:assert>
                    </sch:rule>
                    <sch:rule context="//wml2:WaterObservationVolume">
                        <sch:assert test="wml2:relatedObservation/wml2:WaterMonitoringObservation or (empty(wml2:relatedObservation/*) and wml2:relatedObservation/@xlink:href)">relatedObservation must contain either WaterMonitoringObservation or nothing (and carry an xlink:href instead)</sch:assert>
                    </sch:rule>
                </sch:pattern>
            </sch:schema>
        </appinfo>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.opengis.net/samplingSpatial/2.0" schemaLocation="file:///C:/OGC/SCHEMAS_OPENGIS_NET/samplingSpatial/2.0/spatialSamplingFeature.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
    <import namespace="http://www.opengis.net/sampling/2.0" schemaLocation="file:///C:/OGC/SCHEMAS_OPENGIS_NET/sampling/2.0/samplingFeature.xsd"/>
    <import namespace="http://www.opengis.net/sampling/1.0/gml32" schemaLocation="http://dp.schemas.opengis.net/08-129/sampling/1.0.0_gml32/sampling.xsd"/>
    <include schemaLocation="waterml2.xsd"/>
    <element name="WaterObservationPoint" substitutionGroup="sa:SamplingPoint" type="wml2:WaterObservationPointType">
        <annotation>
            <documentation>A (point) location where water flow or properties are reported, such as a stream gauge, rainfall gauge, or water quality monitoring site. 

The primary specialization from the generic SamplingPoint is that the domain of the relatedObservation property is a WaterMonitoringObservation

WaterFeaturesML provides the domain of the sampledFeature property
</documentation>
        </annotation>
    </element>
    <complexType name="WaterObservationPointType">
        <annotation>
            <documentation>The following properties inherited from parent classes are overridden in Schematron assertions:

association: relatedObservation</documentation>
        </annotation>
        <complexContent>
            <extension base="sa:SamplingPointType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="descriptionReference" type="gml:ReferenceType">
                        <annotation>
                            <documentation>Provide extra description about a monitoring point. This could be a link to an HTML page describing the location, photos of a monitoring point, history records etc. 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="gaugeDatum" type="gml:ReferenceType"/>
                    <element maxOccurs="1" minOccurs="0" name="monitoringType" type="gml:ReferenceType">
                        <annotation>
                            <documentation>A characterisation of the type of station. E.g. meteorological, surface water, groundwater, water quality etc. 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="timeZone" type="wml2:TimeZonePropertyType"/>
                    <element name="owner" type="gmd:CI_ResponsibleParty_PropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WaterObservationPointPropertyType">
        <sequence minOccurs="0">
            <element ref="wml2:WaterObservationPoint"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="WaterObservationSection" substitutionGroup="sams:SF_SpatialSamplingFeature" type="wml2:WaterObservationSectionType">
        <annotation>
            <documentation>A surface where water flow or properties are reported. 

The primary specialization from the generic SamplingSurface is that the domain of the relatedObservation property is a WaterMonitoringObservation

WaterFeaturesML provides the domain of the sampledFeature property</documentation>
        </annotation>
    </element>
    <complexType name="WaterObservationSectionType">
        <annotation>
            <documentation>The following properties inherited from parent classes are overridden in Schematron assertions:

association: relatedObservation</documentation>
        </annotation>
        <complexContent>
            <extension base="sams:SF_SpatialSamplingFeatureType"/>
        </complexContent>
    </complexType>
    <complexType name="WaterObservationSectionPropertyType">
        <sequence minOccurs="0">
            <element ref="wml2:WaterObservationSection"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="WaterObservationTransect" substitutionGroup="sams:SF_SpatialSamplingFeature" type="wml2:WaterObservationTransectType">
        <annotation>
            <documentation>A track or curve along which water properties are reported, such as a boat-track, gauging transect.  

The primary specialization from the generic SamplingCurve is that the domain of the relatedObservation property is a WaterMonitoringObservation

WaterFeaturesML provides the domain of the sampledFeature property</documentation>
        </annotation>
    </element>
    <complexType name="WaterObservationTransectType">
        <annotation>
            <documentation>The following properties inherited from parent classes are overridden in Schematron assertions:

association: relatedObservation</documentation>
        </annotation>
        <complexContent>
            <extension base="sams:SF_SpatialSamplingFeatureType"/>
        </complexContent>
    </complexType>
    <complexType name="WaterObservationTransectPropertyType">
        <sequence minOccurs="0">
            <element ref="wml2:WaterObservationTransect"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="WaterObservationVolume" substitutionGroup="sams:SF_SpatialSamplingFeature" type="wml2:WaterObservationVolumeType">
        <annotation>
            <documentation>A volumne within which water flow or properties are reported. 

The primary specialization from the generic SamplingSolid is that the domain of the relatedObservation property is a WaterMonitoringObservation

WaterFeaturesML provides the domain of the sampledFeature property</documentation>
        </annotation>
    </element>
    <complexType name="WaterObservationVolumeType">
        <annotation>
            <documentation>The following properties inherited from parent classes are overridden in Schematron assertions:

association: relatedObservation</documentation>
        </annotation>
        <complexContent>
            <extension base="sams:SF_SpatialSamplingFeatureType"/>
        </complexContent>
    </complexType>
    <complexType name="WaterObservationVolumePropertyType">
        <sequence minOccurs="0">
            <element ref="wml2:WaterObservationVolume"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="TimeZone" substitutionGroup="gml:AbstractObject" type="wml2:TimeZoneType"/>
    <complexType name="TimeZoneType">
        <sequence>
            <element name="zoneOffset" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="zoneAbbreviation" type="string"/>
        </sequence>
    </complexType>
    <complexType name="TimeZonePropertyType">
        <sequence>
            <element ref="wml2:TimeZone"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <group name="WaterObservationFeature">
        <annotation>
            <documentation>Union class allowing selection of one of the members in an instance. This construct is used to create a substitutability grouping independent of the inheritance hierarchy if the latter does not provide suitable constraints. </documentation>
        </annotation>
        <choice>
            <element ref="wml2:WaterObservationPoint">
                <annotation>
                    <documentation>Selector for WaterObservationPoint</documentation>
                </annotation>
            </element>
            <element ref="wml2:WaterObservationTransect">
                <annotation>
                    <documentation>Selector for WaterObservationTransect</documentation>
                </annotation>
            </element>
            <element ref="wml2:WaterObservationSection">
                <annotation>
                    <documentation>Selector for WaterObservationSection</documentation>
                </annotation>
            </element>
            <element ref="wml2:WaterObservationVolume">
                <annotation>
                    <documentation>Selector for WaterObservationVolume</documentation>
                </annotation>
            </element>
        </choice>
    </group>
    <complexType name="WaterObservationFeaturePropertyType">
        <sequence minOccurs="0">
            <group ref="wml2:WaterObservationFeature"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attribute name="unionSemantics" type="wml2:WaterObservationFeatureUnionSemantics"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="WaterObservationFeatureUnionSemantics">
        <restriction base="string">
            <enumeration value="point"/>
            <enumeration value="transect"/>
            <enumeration value="section"/>
            <enumeration value="volume"/>
        </restriction>
    </simpleType>
</schema>